@charset "utf-8";

/*-------------------------------------------------------------------
    File definition: Main page style
    Order:    Contents > Main top(banner) > Aside
-------------------------------------------------------------------*/

/* Banner */

.main_banner {
  height: 100vh;
  width: 100%;
  user-select: none;
}
.main_banner_inn {
  height: 100%;
}
.main_banner_swiper {
  height: 100%;
  position: relative;
}
.main_banner_img {
  width: 100%;
  background-size: cover !important;
  background-position: center !important;
  margin: 0 auto;
}
.main_banner_txt {
  margin-top: -70px;
  height: 100%;
  color: var(--bs-white);
  font-weight: 700;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 20px;
}
.main_banner_txt p {
  font-size: 24px;
  line-height: 28.64px;
  transition: font-size 0.2s ease-in-out;
  animation: tit_ani 1s linear;
}
.main_banner_txt h1 {
  font-size: 60px;
  line-height: 71.6px;
  transition: font-size 0.5s ease-in-out;
  animation: tit_ani 1s linear;
}

/* header btn */

.header span.stress {
  display: inline-block;
  background-color: var(--orangey-red);
  color: white;
  height: 32px;
  line-height: 32px;
  padding: 0 18px;
  border-radius: 14px;
}

/* new item */

.new-items {
  /* background: url(/images/bg_news-item.png) 0 0 no-repeat #fff;
  background-size: 40.3125vw 46.25vw; */
  height: 50vw;
}
.new-items_container {
  /* width: 1440px;
  margin: 0 auto; */
  display: flex;
  width: 100%;
  position: relative;
}
.new-items_header {
  width: 30%;
  padding-top: 6.25vw;
  background: url(/images/bg_news-item.png) 0 0 no-repeat #fff;
  background-size: 29.3125vw 46.25vw;
  height: 50vw;
}
.new-items_header_cont {
  padding-left: 40px;
}
.new-items_title {
  font-size: 62px;
  margin-top: 1.0416666667vw;
  color: var(--red-orange);
}
.new-items_more {
  display: inline-block;
  font-size: 17px;
  text-transform: uppercase;
  font-weight: 600;
  margin-top: 8.8541666667vw;
  position: relative;
}
.new-items_more:after {
  content: "";
  display: block;
  position: absolute;
  right: -2.1875vw;
  top: 0.4166666667vw;
  width: 1.5625vw;
  height: 0.4166666667vw;
  background: url(/images/arrow_right.png) 0 0 no-repeat;
  background-size: 1.5625vw 0.4166666667vw;
}
.new-items_item {
  display: block;
}
.new-items_description {
  font-size: 23px;
  line-height: 2.0833333333vw;
  width: 25vw;
  color: #1a1a1a;
  margin-top: 1.5625vw;
}
.new-items_list {
  width: 68%;
  overflow: hidden;
}

.new-items_item.swiper-slide-active .new-items_img {
  min-width: 253px;
  height: 419px;
  object-fit: cover;
}
.new-items_item.swiper-slide-active {
  width: 17.6041666667vw;
  padding: 0;
}
.new-items_item {
  padding-top: 80px;
}
.new-items_subtitle {
  font-size: 37px;
  color: var(--red-orange);
  font-family: "Goldplay";
  font-weight: 600;
}

.new-items_name {
  font-size: 21px;
  margin-top: 2.3255813953vw;
  font-weight: 700;
  color: var(--red-orange);
}
.new-items_list-description {
  font-size: 16.9px;
  font-weight: 400;
  line-height: 25px;
  margin-top: 1.0416666667vw;
  color: #252525;
}
.new-items_subname {
  font-size: 14px;
  font-weight: 400;
  color: var(--red-orange);
}
.new-items_thumbnail {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.new-items_img {
  display: block;
  width: 9.6875vw;
}
.new-items_nav-wrapper {
  position: absolute;
  left: 624px;
  top: 100px;
  width: 53.6458333333vw;
}
.new-items_nav_next {
  background: url(/images/btn_nav_next.png) 0 0 no-repeat;
  left: 14%;
  top: 13.75vw;
}
.new-items_nav_prev {
  background: url(/images/btn_nav_prev.png) 0 0 no-repeat;
  left: -18%;
  top: 13.75vw;
}
.new-items_nav {
  width: 20px;
  height: 25px;
  position: absolute;
  z-index: 10;
  cursor: pointer;
}

/* signature item */
/* .signature-item_container {
  width: 1440px;
  margin: 0 auto;
} */
.signature-item {
  color: var(--red-orange);
  height: 39.1145833333vw;
  padding-top: 8.3333333333vw;
}
.signature-item_container {
  display: flex;
  justify-content: space-between;
}
.signature-item_title {
  font-family: "Goldplay";
  font-size: 42px;
}
.signature-item img {
  width: 50%;
}
.signature-item_information {
  padding-left: 30px;
}
.signature-item_description {
  font-family: "NanumSquare";
  font-size: 25px;
  line-height: 2.0833333333vw;
  width: 420px;
  color: #1a1a1a;
  margin-top: 1.5625vw;
}
.signature-item_description-point {
  display: block;
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 0.2083333333vw;
}
.signature-item_description p {
  margin-bottom: 1.5625vw;
  line-height: 2.0833333333vw;
  font-weight: 300;
}
.signature-item_button {
  display: inline-block;
  font-family: "NanumSquare";
  font-size: 21px;
  font-weight: 600;
  color: #f43b00;
  border: solid 1px #f43b00;
  padding: 12.25px 49px;
  margin-top: 26px;
}
/* notice */

.notice_header {
  position: relative;
  border-bottom: 20px solid #f0eae8;
  margin-bottom: 103px;
  height: 117px;
}
.notice_header_title {
  position: relative;
  left: 50%;
  width: 491px;
  top: 50%;
  color: var(--red-orange);
  transform: translateX(-50%);
  font-size: 70px;
  background: var(--bs-white);
  text-align: center;
  font-weight: 600;
}
.notice_contents {
  width: 100%;
  /* max-width: 1444px; */
  margin: 0 auto;
  padding-bottom: 103px;
}
.notice_items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 561px;
  gap: 20px;
}
.notice_items .notice_card_item {
  padding: 10px;
  border: 2px solid var(--swiper-pagination-color);
  text-align: left;
  width: 100%;
  height: auto !important;
}
.notice_items .notice_card_item .notice_img {
  height: 200px;
  object-fit: cover;
  overflow: hidden;
}

.notice_tag {
  text-transform: uppercase;
  font-size: 16px;
  margin-top: 35px;
  font-weight: bold;
  line-height: 1;
  color: var(--red-orange);
}
.notice_subject {
  font-size: 38px;
  margin-top: 21px;
  font-weight: 700;
  color: rgb(244, 59, 0);
}
.notice_content {
  margin-top: 18px;
  font-size: 16px;
  color: #222;
}

/* supporter section*/
.supporter {
  position: relative;
  overflow: hidden;
  height: 602px;
  background: url(/images/bg_supporter.jpg) 100% 0% no-repeat #fff;
}
.supporter_container {
  /* width: 1444px;
  margin: 0 auto; */
}
.supporter_title {
  font-size: 51px;
  margin: 105px 0px 0px;
  color: #f43b00;
}
.supporter_description {
  width: 60%;
  font-size: 23px;
  line-height: 36px;
  margin: 26px 0px 0px;
}
.supporter_button {
  display: inline-block;
  font-size: 21px;
  margin: 53px 0px 0px;
  padding: 12px 49px;
  font-weight: 600;
  border: 1px solid #282828;
}

/* marginal section */
.marginal {
  display: flex;
  height: 502px;
}
.marginal_background {
  width: 50%;
  background-color: #f0eae8;
  position: relative;
}
.marginal_background_right {
  background: url(/images/bg_finder.png) 100% 101% no-repeat;
  background-size: 15.0520833333vw 14.7916666667vw;
  background-color: #f43b00;
}
.marginal_container {
  position: absolute;
  /* width: 1440px; */
  height: 502px;
  left: 50%;
  display: flex;
  transform: translateX(-50%);
}
.marginal_item {
  width: 50%;
}
.marginal_item_left {
  background: url(/images/bg_smartphone.png) 87% 163% no-repeat;
  background-size: 19.8958333333vw 21.5vw;
}

.marginal_title {
  font-family: "NanumSquare";
  font-size: 53px;
  color: var(--red-orange);
  font-weight: 800;
  margin-top: 146px;
}
.marginal_message {
  width: 40%;
  font-family: "NanumSquare";
  font-size: 23px;
  line-height: 36px;
  font-weight: 600;
  margin-top: 28px;
  color: var(--red-orange);
}
.marginal_button {
  display: inline-block;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 600;
  margin-top: 77px;
  position: relative;
}
.marginal_button:after {
  content: "";
  display: block;
  position: absolute;
  right: -2.1875vw;
  top: 0.4166666667vw;
  width: 1.5625vw;
  height: 20px;
  background: url(/images/arrow_right.png) 0 0 no-repeat;
  background-size: 1.5625vw 0.4166666667vw;
}
.marginal_item_right {
  padding-left: 172px;
}
.marginal_item_right .marginal_message {
  color: #fff;
  width: 100%;
  font-weight: 400;
}
.marginal_item_right .marginal_title {
  color: #fff;
}
.marginal_finder {
  width: 238px;
  height: 54px;
  margin-top: 4.1666666667vw;
  background-color: #fbf4e4;
  border: none;
}
.marginal_finder_input {
  height: 54px;
  width: 10.7291666667vw;
  padding: 0.3125vw 0.5208333333vw;
  font-family: "NanumSquare";
  font-weight: 700;
  font-size: 1.3020833333vw;
  color: #f43b00;
  outline: none;
  background-color: #fbf4e4;
  border: none;
  vertical-align: top;
}
.marginal_finder_submit img {
  width: 25px;
  height: 25px;
  margin-top: 12px;
}
/* footer */
.footer {
  margin-top: 96px;
}
.footer_wrap {
  display: flex;
  justify-content: space-between;
}
footer .logo {
  width: 192px;
}
footer .footer_ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
footer a {
  position: relative;
}
footer a::before {
  content: " ";
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 1px;
  background: var(--black);
  transform: scaleX(0);
  transform-origin: top right;
  transition: transform 500ms ease-in-out;
}
footer .em {
  color: var(--orangey-red);
}
footer .mo {
  display: none;
}
footer .footer_ul_cont {
  margin-top: 20px;
}
footer li {
  margin-top: 16px;
}
footer strong {
  font-size: 18px;
  font-weight: bold;
}
footer .footer_items {
  display: flex;
  width: 73%;
  align-items: flex-start;
}

footer .btn {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  border: 0 none;
  outline: none;
  cursor: pointer;
  background: transparent;

  box-sizing: border-box;
}
footer .ico {
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
footer .link {
  transition: all 0.5s;
  line-height: 30px;
}
footer .contact_link {
  color: var(--red-orange);
  font-size: 16px;
}
footer .link:hover {
  text-decoration: underline;

  cursor: pointer;
}

footer .max-wrap {
  margin-top: 52px;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
footer .max-wrap .select-wrap {
  margin-top: 23px;
}
footer .max-wrap.flex-both-top .select {
  width: 307px;
  height: 87px;
  line-height: 87px;
  border-bottom: 2px solid var(--black);
  border-width: 0px 0px 2px 0px;
  background-color: transparent;
  font-size: 18px;
  -webkit-appearance: none;
  -moz-appearance: none;
  font-weight: bold;
  outline: none;
  background-image: url(/images/select-plus.svg);
}
footer .select {
  position: relative;
  vertical-align: middle;
  border-bottom: 1px solid rgba(34, 34, 34, 0.2);
  color: inherit;
  background: #fff url(/images/select-arr.svg) no-repeat 100% 50%;
  background-size: 24px 24px;
}

footer .copyright-wrap {
  width: 614px;
}
footer .copyright {
  padding: 52px 0 35px;
  color: rgba(34, 34, 34, 0.4);
  font-size: 14px;
  font-weight: 500;
}
footer .playstore {
  width: 100%;
  display: flex;
}
footer .btn_apple {
  font-weight: bold;
  border: 1px solid rgba(34, 34, 34, 0.1);
  margin-right: 20px;
  display: inline-flex;
  width: 182px;
  height: 50px;
  padding: 0 32px;
  border-radius: 30px;
  align-items: center;
}
footer .btn_google {
  font-weight: bold;
  border: 1px solid rgba(34, 34, 34, 0.1);
  margin-right: 20px;
  display: inline-flex;
  width: 198px;
  height: 50px;
  padding: 0 32px;
  border-radius: 30px;
  align-items: center;
}
footer .qr {
  width: 100px;
  position: relative;
  bottom: 35px;
}
footer .ico.apple {
  background-image: url(/images/apple.svg);
  width: 26px;
  height: 26px;
  margin-right: 10px;
}
footer .ico.google {
  background-image: url(/images/google.svg);
  width: 26px;
  height: 26px;
  margin-right: 10px;
}
