@charset "utf-8";

/*-------------------------------------------------------------------
    File definitio: Responsive css on all pages
    Order: header > main > sub pages > footer
-------------------------------------------------------------------*/

@media screen and (max-width: 1470.98px) {
  .header .gnb {
    gap: 30px;
  }
}
/* @media screen and (max-width: 1444px) {
  .new-items_header {
    padding-left: 20px;
    width: 26.1979166667vw;
  }
  .new-items_container {
    width: auto;
  }
} */
@media screen and (max-width: 1300.98px) {
  .header .gnb a {
    font-size: 16px;
  }
  .header .head_contact strong,
  .header .head_contact {
    font-size: 14px;
  }
  .header .head_img {
    width: 180px;
    height: auto;
  }
  .header .head_contact strong {
    margin-right: 10px;
  }

  .new-items_list {
    left: 44%;
    top: 2%;
  }
  .new-items_nav_prev {
    left: -16%;
  }
  .new-items_nav_next {
    left: 22%;
  }
  /* notice */
  .notice_items {
    height: auto;
    gap: 10px;
  }
  .notice_items a {
    padding: 10px;
    margin: 0;
  }
  .footer .foot_info_wrpp {
    flex-wrap: wrap;
    gap: 20px;
  }
  .header .header_inn {
    max-width: 1440px;
    margin: 0 auto;
  }
}
@media screen and (max-width: 1000.98px) {
  .pc_hidden {
    display: none;
  }
  .mobile_hidden {
    display: block;
  }

  .header {
    height: 80px;
  }
  .lnb_bg {
    margin-top: 80px;
  }
  .hamburger {
    display: block;
  }
  .header .gnb {
    display: none;
  }
  /* new items */
  .new-items {
    background-size: 100vw 70.2325581395vw;
    height: 168.1395348837vw;
  }

  .new-items_container {
    width: 100%;
    flex-direction: column;
  }
  .new-items_header {
    background-size: 89.3125vw 66.25vw;
    display: block;
    width: 100%;
    height: 60vw;
    padding-top: 60px;
  }
  .new-items_header_cont {
    padding-left: 90px;
  }

  .new-items_list {
    width: 100%;
    padding-top: 50px;
  }
  .new-items_nav_prev {
    left: -7%;
    top: 21.4vw;
  }

  .new-items_nav_next {
    left: 23%;
    top: 21.3953488372vw;
  }
  .new-items_nav-wrapper {
    width: calc(100% - 6.976744186vw);
    left: 6.976744186vw;
    top: 75.3488372093vw;
  }
  .new-items_item.swiper-slide-active .new-items_img {
    width: 23.7209302326vw;
  }
  .new-items_img {
    width: 13.2790697674vw;
  }
  .new-items_description {
    font-size: 30px;
    width: 535px;
    line-height: 37px;
  }
  .new-items_subname {
    font-size: 21px;
  }
  .new-items_name {
    font-size: 23px;
    margin-top: 20px;
    font-weight: 900;
  }
  .new-items_list-description {
    font-size: 23px;
    line-height: 37px;
  }
  .new-items_more:after {
    right: -4.88vw;
    top: 0.9vw;
    width: 3.5vw;
    height: 1vw;
    background-size: 3.5vw 0.9vw;
  }
  /* notice */
  .notice_contents {
    max-width: 100%;
    width: auto;
    margin: 0 18.3720930233vw;
    overflow: hidden;
  }
  .notice_items {
    margin-left: 0;
    position: relative;
    width: 100%;
    height: 100%;
    display: block;
    z-index: 1;
    transition-property: transform;
    box-sizing: content-box;
  }
  .notice_item {
    margin-left: 0;
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
    transition-property: transform;
    padding: 3.488372093vw 3.488372093vw 6.2790697674vw;
  }
  /* brand_story */
  .brand_img_item,
  .brand_img_item3 {
    margin-right: 20px;
  }
  .brand_img_item {
    height: 859px;
  }
  .brand_img_item2 {
    margin: 20px;
  }
  .brand_img_item4 {
    margin-top: 0;
  }
  .brand_img_item1,
  .brand_img_item2 {
    display: block;
    width: 100%;
  }
  .brand_story_item_img {
    top: -4%;
    left: 40%;
    padding: 10px;
  }
  .brand_img_item1 img,
  .brand_img_item2 img,
  .brand_img_item3 img,
  .brand_img_item4 img {
    width: 160px;
    height: 160px;
  }
  /* footer */
  footer .max-wrap {
    display: block;
  }
  footer .logo {
    display: none;
  }
  footer .footer_items {
    gap: 20px;
    width: 100%;
  }
}
@media screen and (max-width: 767.98px) {
  .brand_story_contents_box2 {
    gap: 22px;
  }

  .brand_img_item img {
    width: 180px;
    height: 409px;
    margin-top: 30px;
  }
  .brand_img_item1 img,
  .brand_img_item2 img {
    width: 150px;
    height: 150px;
  }
  .brand_img_item {
    height: fit-content;
    padding: 20px;
  }
  .brand_img_item1,
  .brand_img_item2 {
    height: fit-content;
    padding: 20px;
  }
  .brand_story_content_title {
    font-size: 26px;
    font-weight: bold;
  }
  .brand_story_content p {
    font-size: 14px;
  }
  .brand_story_item_img {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
  }
}
@media screen and (max-width: 575.98px) {
  .main_banner_txt {
    margin-top: -20px;
    gap: 18px;
  }
  .main_banner .swiper-pagination {
    bottom: 100px !important;
  }
  .main_banner_txt h1 {
    font-size: 30px;
    line-height: 42px;
    margin-top: 10px;
  }

  .mobile_hidden {
    display: none;
  }

  .pc_hidden {
    display: inline-block;
  }

  .main_banner_txt p {
    font-size: 16px;
  }

  .swiper-pagination {
    gap: 20px;
    font-size: 20px;
  }
}
@media screen and (max-width: 483px) {
  .main_banner_txt {
    gap: 10px;
  }
  .main_banner .swiper-pagination-bullet {
    font-size: 20px;
  }

  .header .head_contact strong {
    display: none;
  }
  .header .head_contact .txt {
    display: none;
  }
}
