/* standard css start */
*,
:after,
:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 80%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
body {
  font-size: 16px;
  width: 100%;
  line-height: normal;
  font-family: "Pretendard Std";
  font-weight: 400;
  letter-spacing: -0.48px;
  -webkit-text-size-adjust: none;
  color: var(--bs-black);
  background-color: var(--bs-white);
}

input[type="text"],
input[type="password"],
textarea {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  outline: none;
}

button {
  font-family: "Pretendard Std";
  border: 0;
  outline: 0;
  cursor: pointer;
  background: none;
  font-size: 16px;
  color: var(--bs-black);
  padding: 0;
  margin: 0;
}
/* link */
a {
  text-decoration: none;
  cursor: pointer;
  color: var(--bs-black);
}
a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:active {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:focus {
  text-decoration: none;
}
*:focus {
  -webkit-tap-highlight-color: #797979;
}

:root {
  --bs-white: #fff;
  --bs-black: #000;
  --bs-gray: #747474;

  --bs-primary: #051e60;
  --bs-secondary: #ffffff;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;

  --black: rgb(34, 34, 34);
  --orangey-red: rgb(255, 89, 46);
  --white: rgb(255, 255, 255);
  --warm-white: rgb(250, 248, 246);
  --windows-blue: rgb(52, 132, 198);
  --shamrock: rgb(0, 172, 77);
  --medium-pink: rgb(240, 110, 165);
  --orangey-yellow: rgb(252, 182, 20);
  --red: #f00;
  --warm-grey: #999;
  --black-mob: #1d1d1d;
  --swiper-pagination-color: rgb(255, 89, 46);
  --reddish-grey: #8f7c70;
  --tomato: #eb5c2a;
  --warm-grey-2: #808080;
  --red-orange: #f43b00;
  --light-khaki: #fbf4e4;
  --sapphire: #2a31a0;
  --cobalt: #1b4793;
}
