@charset "utf-8";

/*-------------------------------------------------------------------
    File definition: Pages contents css
    Order: Sub Banner > Sub contents ...
-------------------------------------------------------------------*/
html {
  overflow-x: hidden;
}
body {
  overflow-x: hidden;
}
.brand_story_item {
  padding: 180px 0 160px;
}
.brand_story .img-wrap {
  margin: 0 auto;
  max-width: 905px;
}
.pc_hidden {
  display: block;
}
.section_title {
  margin-top: 96px;
  font-size: 64px;
  font-weight: bold;
  text-align: center;
}
.brand_story .brand_story_cont {
  font-size: 18px;
  margin-top: 32px;
  text-align: center;
}
.brand_story .btn_area {
  width: 100%;
  text-align: center;
  margin-top: 32px;
}
.brand_story .btn {
  border: 1px solid var(--orangey-red);
  color: var(--orangey-red);
  text-align: center;
  padding: 15px 82px;
  font-size: 18px;
  font-weight: bold;
}
.brand_story .btn:hover {
  color: var(--bs-white);
  background: var(--orangey-red);
}
.brand_story .flex-list {
  display: grid;

  align-items: center;
  grid-template-columns: 1fr 1fr;
  margin-top: 96px;
}
.brand_story .flex-list .img-wrap {
  width: 100%;
}
.brand_story .flex-list .img-wrap img {
  display: block;
  width: 100%;
}
.character_imgs {
  gap: 70px;
}
.character_imgs .img-wrap {
  width: 100%;
}
.brand_story .fox_img {
  width: 100%;
}
.brand_story .text_wrap_1 {
  width: 70%;
}
.character_imgs {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.text-wrap {
  padding-top: 79px;
}
.logo_type_title {
  font-size: 64px;
  line-height: 1.34;
  text-align: center;
  font-weight: bold;
}
.logo-type p {
  font-size: 18px;
  margin-top: 20px;
  text-align: center;
}
.brand_story .flex {
  display: flex;
  gap: 10px;
  font-size: 18px;
  margin-top: 20px;
  line-height: 30px;
}
.brand_story .flex_cont {
  display: flex;
  font-size: 18px;
  gap: 10px;
  width: 80%;
  margin-top: 20px;
  line-height: 30px;
}
.brand_story dl dt {
  font-weight: 800;
  min-width: 45px;
  padding-right: 12px;
}

.title {
  font-size: 20px;
  font-weight: bold;
}
.title img {
  height: 47px;
  width: 123px;
  margin-right: 20px;
}

.brand_story .brand_story_contents_box {
  width: 100%;
  margin-top: 96px;
  background: var(--warm-white);
  height: 400px;
  padding: 52px;
  gap: 52px 52px;
  display: flex;
  justify-content: space-between;
}
.brand_story .number {
  color: var(--orangey-red);
  font-size: 24px;
  font-weight: bold;
  line-height: 1;
  margin-bottom: 20px;
}
.brand_story_content_title {
  font-size: 36px;
  font-weight: bold;
}
.brand_story_content p {
  font-size: 18px;
}
.brand_story_contents_box2 {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin-top: 52px;
}
.brand_img_item {
  background: var(--warm-white);
  grid-column: 1;
  grid-row: 1/5;
  height: 892px;
  padding: 52px 30px;
  line-height: 1.72;
  margin-right: 52px;
}
.brand_img_item img {
  width: 260px;
  height: 400px;
  margin-top: 30px;
}
.brand_img_item1 img,
.brand_img_item2 img {
  width: 300px;
  height: 300px;
}
.brand_img_item1 {
  background: var(--warm-white);
  height: 420px;
  grid-column: 2/4;
  grid-row: 1;
  display: flex;
  line-height: 1.4;
  padding: 52px 30px;
  justify-content: space-between;
}
.brand_img_item2 {
  background: var(--warm-white);
  grid-column: 2/4;
  grid-row: 2;
  line-height: 1.4;
  margin: 52px 0;
  display: flex;
  padding: 52px 30px;
  height: 420px;
  justify-content: space-between;
}
.brand_story_contents_box3 {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
}

.brand_img_item3 {
  width: 50%;
  line-height: 1.4;
  display: flex;
  justify-content: space-between;
  padding: 52px 30px;
  margin-right: 38px;
  background: var(--warm-white);
}
.brand_img_item4 {
  padding: 52px 30px;
  width: 50%;
  display: flex;
  line-height: 1.4;
  justify-content: space-between;
  background: var(--warm-white);
}
.brand_img_item4 img,
.brand_img_item3 img {
  width: 300px;
  height: 300px;
}

/* notice */
.notice {
  padding: 150px 0 160px;
}

.notice_list {
  margin-top: 96px;
}
.notice .notice_list_items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  gap: 0 150px;
}
.notice .notice_list_item:first-child,
.notice .notice_list_item:nth-child(2) {
  border-top: 2px solid rgba(34, 34, 34, 0.2);
}
.notice .notice_list_item {
  padding: 56px 0;
  border-bottom: 2px solid rgba(34, 34, 34, 0.2);
}
.notice .notice_list_item h2 {
  font-size: 48px;
  font-weight: bold;
  height: 140px;
}
.notice .notice_list_item .notice_list_item_text {
  font-size: 18px;
  margin-top: 32px;
  font-weight: 500;
  line-height: 1.5;
}
.notice .notice_list_item .date {
  margin-top: 56px;
}

/* new page */
.new_page {
  margin-top: 60px;
}
.new_page_list_items {
  margin-top: 96px;
}
.new_page_list_item {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 64px 0;
  height: 300px;
  border-top: 2px solid rgba(34, 34, 34, 0.2);
}
.new_page_list_item:last-child {
  border-bottom: 2px solid rgba(34, 34, 34, 0.2);
}
.new_page_list_item h2 {
  font-size: 48px;
  font-weight: bold;
  width: 34%;
}
.new_page_list_item .new_page_list_item_text {
  font-size: 18px;
  width: 33%;
}

/* start up */
.startup {
  margin-top: 180px;
  padding-bottom: 160px;
}
.startup_search_list.mobile_hidden {
  display: none;
}
.startup_search_list.pc_hidden {
  display: block;
}
.startup_cont {
  margin-top: 96px;
}
.startup .startup_flex {
  display: flex;
  gap: 80px;
  margin-top: 96px;
}
.startup_title {
  font-size: 48px;
  font-weight: bold;
}
.startup_search_list {
  width: 230px;
}
.startup_search_list_item .startup_btn {
  width: 100%;
  padding: 0 30px;
  height: 64px;
  line-height: 64px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  text-align: left;
  color: var(--warm-grey);
  background: #fff url(/images/dropdown_right.svg) no-repeat calc(100% - 20px)
    50%;

  background-size: 24px 24px;
}

.startup_search_list_item .startup_btn.active {
  color: white;
  background-color: var(--orangey-red);
  background-image: url(/images/dropdown_right_selected.svg);
  cursor: pointer;
  background-size: 24px 24px;
}
.startup_search_list_item {
  width: 230px;
  height: 64px;
}
.startup_card {
  padding: 80px;
  width: 100%;
}
.startup_card img {
  width: 117px;
  height: 30px;
}
.startup .startup_card_title {
  margin-top: 60px;
}
.startup_card .startup_card_title strong {
  font-size: 48px;
  font-weight: bold;
}
.startup_card .contact {
  margin-top: 124px;
  text-align: right;
  width: 100%;
  font-size: 18px;
}
