@charset "utf-8";

/*-------------------------------------------------------------------
    File definition: Pages contents css
    Order: Sub Banner > Sub contents ...
-------------------------------------------------------------------*/
html {
  overflow-x: hidden;
}
body {
  overflow-x: hidden;
}
.brand_story_item {
  padding: 180px 0 160px;
}
.brand_story .img-wrap1 {
  margin: 80px auto;
  max-width: 805px;
}
.pc_hidden {
  display: block;
}
.section_title {
  margin-top: 96px;
  font-size: 64px;
  font-weight: bold;
  text-align: center;
}
.brand_story .brand_story_cont {
  font-size: 18px;
  margin-top: 32px;
  text-align: center;
}
.brand_story .btn_area {
  width: 100%;
  text-align: center;
  margin-top: 32px;
}
.brand_story .btn {
  border: 1px solid var(--orangey-red);
  color: var(--orangey-red);
  text-align: center;
  padding: 15px 82px;
  font-size: 18px;
  font-weight: bold;
}
.brand_story .btn:hover {
  color: var(--bs-white);
  background: var(--orangey-red);
}
.brand_story .flex-list {
  display: grid;

  align-items: center;
  grid-template-columns: 1fr 1fr;
  margin-top: 96px;
}
.brand_story .flex-list .img-wrap {
  width: 100%;
}
.brand_story .flex-list .img-wrap img {
  display: block;
  width: 100%;
}

.character_imgs {
  gap: 70px;
  margin-top: 96px;
}

.character_imgs .img-wrap img {
  height: 600px;
}
.brand_story .fox_img {
  height: 600px;
  width: 100%;
}
.brand_story .text_wrap_1 {
  width: 50%;
}
.character_imgs {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.text-wrap {
  padding-top: 79px;
}
.logo_type_title {
  font-size: 64px;
  line-height: 1.34;
  text-align: center;
  font-weight: bold;
}
.logo-type p {
  font-size: 18px;
  margin-top: 20px;
  text-align: center;
}
.brand_story .flex {
  display: flex;
  gap: 10px;
  font-size: 18px;

  line-height: 30px;
}
.brand_story .flex1 {
  margin-top: 70px;
}
.brand_story .flex_cont {
  display: flex;
  font-size: 18px;
  gap: 10px;
  margin-top: 20px;
  line-height: 30px;
}
.brand_story .flex_list {
  margin-top: 32px;
}
.brand_story .mo_none {
  display: none;
}
.brand_story dl dt {
  font-weight: 800;
  min-width: 45px;
  padding-right: 12px;
}
.brand_story .dd {
  width: 96px;
}

.title {
  font-size: 20px;
  font-weight: bold;
}
.title img {
  height: 47px;
  width: 123px;
  margin-right: 20px;
}

.brand_story .brand_story_contents_box {
  width: 100%;
  margin-top: 96px;
  background: var(--warm-white);
  height: 400px;
  padding: 52px;
  gap: 52px 52px;
  display: flex;
  justify-content: space-between;
}
.brand_story .number {
  color: var(--orangey-red);
  font-size: 24px;
  font-weight: bold;
  line-height: 1;
  margin-bottom: 20px;
}
.brand_story_content_title {
  font-size: 36px;
  font-weight: bold;
}
.brand_story_content p {
  font-size: 18px;
}
.brand_story_contents_box2 {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin-top: 52px;
}
.brand_img_item {
  background: var(--warm-white);
  grid-column: 1;
  grid-row: 1/5;
  height: 892px;
  padding: 52px 30px;
  line-height: 1.72;
  margin-right: 52px;
}
.brand_img_item img {
  width: 260px;
  height: 400px;
  margin-top: 30px;
}
.brand_img_item1 img,
.brand_img_item2 img {
  width: 300px;
  height: 300px;
}
.brand_img_item1 {
  background: var(--warm-white);
  height: 420px;
  grid-column: 2/4;
  grid-row: 1;
  display: flex;
  line-height: 1.4;
  padding: 52px 30px;
  justify-content: space-between;
}
.brand_img_item2 {
  background: var(--warm-white);
  grid-column: 2/4;
  grid-row: 2;
  line-height: 1.4;
  margin: 52px 0;
  display: flex;
  padding: 52px 30px;
  height: 420px;
  justify-content: space-between;
}
.brand_story_contents_box3 {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
}

.brand_img_item3 {
  width: 50%;
  line-height: 1.4;
  display: flex;
  justify-content: space-between;
  padding: 52px 30px;
  margin-right: 38px;
  background: var(--warm-white);
}
.brand_img_item4 {
  padding: 52px 30px;
  width: 50%;
  display: flex;
  line-height: 1.4;
  justify-content: space-between;
  background: var(--warm-white);
}
.brand_img_item4 img,
.brand_img_item3 img {
  width: 300px;
  height: 300px;
}

/* notice */
.notice {
  padding: 150px 0 160px;
}

.notice_list {
  margin-top: 96px;
}
.notice_list_items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  gap: 0 150px;
}
.notice_list_item:first-child,
.notice_list_item:nth-child(2) {
  border-top: 2px solid rgba(34, 34, 34, 0.2);
}
.notice_list_item {
  padding: 56px 0;
  border-bottom: 2px solid rgba(34, 34, 34, 0.2);
}
.notice_list_item h2 {
  font-size: 48px;
  font-weight: bold;
  height: 140px;
}
.notice_list_item .notice_list_item_text {
  font-size: 18px;
  margin-top: 32px;
  font-weight: 500;
  line-height: 1.5;
}
.notice_list_item .date {
  margin-top: 56px;
}

/* findstore */
.find_store {
  margin-top: 150px;
}

.notice.find_store .notice_list_item .notice_list_item_text {
  font-size: 24px;
  font-weight: bold;
}
.find_store_search_list {
  display: flex;
  justify-content: end;
  gap: 40px;
}
.find_store_search_list .select_list {
  display: flex;
  gap: 10px;
}

.find_store .circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 60px;
}
.find_store svg {
  position: relative;
  transform: rotate(0deg);
  transition: all 2s ease;
  width: 100%;
  height: 100px;
}
.find_store svg:hover {
  transform: rotate(180deg);
}
.find_store .icon {
  position: absolute;
  top: 20%;
  left: 48.7%;
  width: 30px;
  height: 60px;
  transform: rotate(90deg);
}

.find_store .marginal_finder {
  height: 75px;
  margin-top: 0;
  background-color: var(--bs-white);
}
.find_store .marginal_finder form {
  border-width: 0px 0px 1px 0px;
  border-bottom: 1px solid var(--black);
}
.find_store .marginal_finder_input {
  height: 54px;
  width: 250px;
  padding: 0.3125vw 0.5208333333vw;
  font-family: "NanumSquare";
  font-weight: 700;
  font-size: 18px;
  color: var(--black);
  outline: none;
  background-color: var(--bs-white);

  vertical-align: top;
}

.notice.find_store .notice_list_item {
  padding: 0px 0 56px 0;
  border-bottom: 2px solid rgba(34, 34, 34, 0.2);
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  transition: all 0.5 ease;
}

.notice.find_store .notice_list_item .find_store_img {
  opacity: 0;
  margin-top: 50px;
  transform: translateX(0);
}
.notice.find_store .notice_list_item:hover .find_store_img {
  opacity: 1;
  transform: translateX(10px);
}
.notice.find_store .notice_list_item img {
  width: 48px;
  height: 48px;
}
.notice.find_store .notice_list_item h2 {
  font-size: 48px;
  font-weight: bold;
  height: 60px;
  margin-top: 4px;
}
.notice.find_store .notice_list_item .date {
  margin-top: 36px;
}
/* new page */
.new_page {
  margin-top: 60px;
}
.new_page_list_items {
  margin-top: 96px;
}
.new_page_list_item {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 64px 0;
  height: 300px;
  border-top: 2px solid rgba(34, 34, 34, 0.2);
}
.new_page_list_item:last-child {
  border-bottom: 2px solid rgba(34, 34, 34, 0.2);
}
.new_page_list_item h2 {
  font-size: 48px;
  font-weight: bold;
  width: 34%;
}
.new_page_list_item .new_page_list_item_text {
  font-size: 18px;
  width: 33%;
}

/* start up */
.startup {
  margin-top: 180px;
  padding-bottom: 160px;
}
.startup_search_list.mobile_hidden {
  display: none;
}
.startup_search_list.pc_hidden {
  display: block;
}
.startup_cont {
  margin-top: 96px;
}
.startup .startup_flex {
  display: flex;
  gap: 80px;
  margin-top: 96px;
}
.startup_title {
  font-size: 48px;
  font-weight: bold;
}
.startup_search_list {
  width: 230px;
}
.startup_search_list_item .startup_btn {
  width: 100%;
  padding: 0 30px;
  height: 64px;
  line-height: 64px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  text-align: left;
  color: var(--warm-grey);
  background: #fff url(/images/dropdown_right.svg) no-repeat calc(100% - 20px)
    50%;

  background-size: 24px 24px;
}

.startup_search_list_item .startup_btn.active {
  color: white;
  background-color: var(--orangey-red);
  background-image: url(/images/dropdown_right_selected.svg);
  cursor: pointer;
  background-size: 24px 24px;
}
.startup_search_list_item {
  width: 230px;
  height: 64px;
}
.startup_card {
  padding: 80px;
  width: 100%;
}
.startup_card img {
  width: 117px;
  height: 30px;
}
.startup .startup_card_title {
  margin-top: 60px;
}
.startup_card .startup_card_title strong {
  font-size: 48px;
  font-weight: bold;
}
.startup_card .contact {
  margin-top: 124px;
  text-align: right;
  width: 100%;
  font-size: 18px;
}

/* danal intro */
.danal_intro {
  margin-top: 150px;
}
.danal_intro h1 {
  font-size: 64px;
  color: var(--orangey-red);
  font-weight: bold;
}
.danal_intro p {
  margin-top: 32px;
  font-size: 18px;
  line-height: 1.5;
}

.danal_intro_lists {
  display: flex;
  justify-content: space-between;
  /* padding: 0 50px; */
  gap: 40px;
}
.dananl_intro_item {
  margin-top: 96px;
}
.dananl_intro_item img {
  width: 250px;
  height: 130px;
}
.dananl_intro_item p {
  margin-top: 46px;
  font-size: 20px;
  line-height: 1.5;
}
.danal_intro_history {
  padding: 160px 0 194px;
}
.danal_intro_history.history {
  padding: 0;
}
.danal_intro_history h2 {
  font-size: 64px;
  color: var(--orangey-red);
  font-weight: bold;
  margin: 0 230px;
}
.danal_intro_dates_list {
  display: flex;
  margin-top: 96px;
  position: relative;
  font-family: "Montserrat", sans-serif;
}
.danal_intro_dates_list::before {
  content: "";
  position: absolute;
  top: 81px;
  left: 0;
  height: 2px;
  background-color: var(--black);
  width: 100vw;
  margin: 0;
  opacity: 0.6;
  padding: 0;
}
.danal_intro_dates_list h3 {
  font-size: 48px;

  font-weight: bold;
  height: 81px;
  position: relative;
}
.danal_intro_dates_list h3::before {
  position: absolute;
  content: "";
  top: 75px;
  left: 0;
  width: 12px;
  z-index: 1;
  height: 12px;
  border-radius: 10px;
  background-color: var(--black);
}
.danal_intro_history_lists.pc_hidden {
  display: none;
}
.danal_intro_date_list_item {
  display: grid;
  margin: 0 230px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.danal_intro_dates_item {
  width: 300px;
}
.danal_intro_dates_item ul {
  margin-top: 39px;
}
.danal_intro_dates_item ul strong {
  font-weight: bold;
  padding-right: 10px;
}
.danal_intro_dates_item ul .mon {
  padding-right: 10px;
}
.danal_intro_dates_item ul .num {
  padding-right: 13px;
  font-size: 18px;
}
.danal_intro_dates_item ul li:first {
  margin-top: 0px;
}
.danal_intro_dates_item ul li {
  margin-top: 16px;
  width: auto;
}
.danal_intro_dates_item ul li span {
  font-weight: 500;
}

/* story */
.story {
  margin-top: 160px;
}
.story h2 {
  font-size: 80px;
  font-weight: bold;
}
.story .store_text {
  font-size: 18px;
  color: var(--windows-blue);
  font-weight: bold;
  line-height: 1.3;
}
.story .event_text {
  font-size: 18px;
  color: var(--orangey-yellow);
  font-weight: bold;
  line-height: 1.3;
}
.story .story_text {
  font-size: 18px;
  color: var(--shamrock);
  font-weight: bold;
  line-height: 1.3;
}
.story .story_text_title {
  font-size: 26px;
  font-weight: bold;
  margin-top: 14px;
}
.story .story_text_cont {
  font-size: 16px;
  margin-top: 20px;
}
.story .date {
  margin-top: 56px;
  font-size: 16px;
  font-weight: 500;
  font-family: "Montserrat";
}
.story .product_card_item {
  height: 309px;
  border-bottom: 2px solid var(--black);
  height: 520px;
}

/* menu */
.menu {
  margin-top: 150px;
}
.menu .menu_list_cont {
  display: flex;
}
.menu .text_active {
  font-family: "Montserrat";
  font-size: 48px;
  font-weight: 700;
  color: var(--black);
}
.menu .text {
  font-size: 48px;
  display: inline-block;
  -webkit-text-stroke: 1px var(--black);
  -webkit-text-fill-color: transparent;
  font-family: "Montserrat";
  font-size: 48px;
  font-weight: 700;
  color: var(--black);
  transition: all 2s ease-in-out;
}
.menu .text:hover {
  color: var(--black);
  cursor: pointer;
  -webkit-text-stroke: 1px var(--black);
  -webkit-text-fill-color: var(--black);
}
.swiper-container {
  width: 100%;
  max-width: 100%;
}

.menu .swiper-slide {
  width: auto !important;
  flex-shrink: 0;
  text-align: left;
  justify-content: start;
  display: flex;
  box-sizing: border-box;
}

.menu .swiper-slide {
  width: 350px !important;
}
.menu .product_cards_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  object-fit: cover;
  gap: 20px 50px;
  height: auto !important;
}
.menu .product_card_item {
  position: relative;
  transition: all 3s ease;
  overflow: hidden;
  height: auto !important;
}

.product_card_hover_box {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  color: var(--bs-white);
  font-size: 18px;
  padding: 36px 24px;
  opacity: 0;
  visibility: hidden;
  overflow: hidden auto;
  transition: all 0.8s ease;
}
.menu .product_card_item.menu_card_item:hover .product_card_hover_box {
  opacity: 1;
  background: var(--reddish-grey);
  visibility: visible;
}
.menu .product_card_item:hover .product_img img {
  transform: scale(1);
  height: auto;
}
.menu .product_img {
  width: 100%;
  height: auto !important;
}
.menu .product_card_item_content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.menu .product_card_item_content h3 {
  font-size: 20px;
  font-weight: bold;
}
.menu .product_card_item_content p {
  font-size: 18px;
}

/* appIntro */
.app_intro {
  margin-top: 140px;
  width: 100%;
}
.app_intro_list {
  /* height: 90vh; */
  position: relative;
  width: 100%;
}
.app_intro_img_list {
  /* display: flex;
  gap: 40px;
  width: 100%;
  position: relative;
  margin-top: 500px; */
  position: absolute;
  left: 50%;
  top: 30%;
  display: flex;
  justify-content: space-between;
  width: 103.021vw;
  height: 10.208vw;
  transform: translate(-50%, -50%);
}
.app_intro_img_list img {
  width: 140px;
  height: 140px;
}
.app_intro_list img:nth-child(4) {
  margin-left: 28.49vw;
}
.app_intro_list .img_big_box {
  margin: 0 auto;
  width: 34.7%;
}
.app_intro_list .img_big_box img {
  width: 100%;
  height: auto;
  top: 30%;
}
.app_intro_text {
  text-align: center;
  margin-top: 74px;
}

.app_intro_text h3 {
  font-size: 48px;
  font-weight: bold;
}
.app_intro_text p {
  margin-top: 32px;
  line-height: 1.3;
  font-size: 18px;
}
.app_intro_text img {
  width: 200px;
  height: 200px;
}
.app_intro_no_wait_item {
  display: flex;
  justify-content: space-between;
  background: var(--warm-white);
  height: 863px;
}
.app_intro_no_wait_item h3 {
  font-size: 48px;
  font-weight: bold;
}
.app_intro_no_wait_images .img_up {
  position: absolute;
  width: 24.705vw;
  right: 10vw;
  top: -32.099vw;
}
.app_intro_no_wait_item_text {
  text-align: center;
  margin-top: 300px;
  text-align: left;
  padding-left: 50px;
}
.app_intro_no_wait_item_text p {
  font-size: 18px;
  margin-top: 34px;
}
.app_intro_no_wait_images .img_down {
  position: absolute;
  bottom: -24.34vw;
  width: 24.705vw;
  right: 10vw;
}
.app_intro_no_wait {
  position: relative;
  overflow: hidden;
}
.app_intro_share {
  position: relative;
  padding: 160px 0;
  display: flex;
  gap: 30px;
  justify-content: space-between;
  overflow: hidden;
}

.app_intro_card,
.app_intro_card1 {
  width: 424px;
  height: auto;
}

.app_intro_card {
  margin-left: 26.56%;
}

.app_intro_card1 {
  margin-top: -59px;
  margin-left: 0;
}
.app_intro_share_text {
  margin-top: 130px;
}
.app_intro_share_text h3 {
  text-align: center;
  font-size: 48px;
  font-weight: bold;
}
.app_intro_share_text p {
  font-size: 18px;
  margin-top: 34px;
  font-weight: 500;
  line-height: 1.3;
}
/* member_ship */
.member_ship {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  position: relative;
  background: var(--warm-white);
  height: 848px;
  padding: 160px 0;
}
.member_ship_img {
  align-items: center;
  top: 50%;
  position: absolute;
}

.member_ship_text h3 {
  font-size: 48px;
  font-weight: bold;
  text-align: center;
}
.member_ship_text p {
  font-size: 18px;
  margin-top: 36px;
  text-align: center;
  line-height: 1.4;
}

/* franch_see_intro */
.franch_see_intro {
  margin-top: 150px;
}
.franch_see_intro .logistics_system {
  display: flex;
  padding: 80px 0;
}
.franch_see_intro .logistics_system_text {
  width: 45%;
}
.franch_see_intro .logistics_system_text h3 {
  font-size: 48px;
  font-weight: bold;
  line-height: 1.58;
}
.franch_see_intro .logistics_system_text p {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.4;
  margin-top: 24px;
}
.franch_see_intro .logistics_system_item_list {
  display: grid;
  grid-template-columns: 1.8fr 1fr;
  gap: 50px;
}
.franch_see_intro .logistics_system_item h3 {
  font-size: 24px;
  margin-top: 12px;
  font-weight: bold;
  line-height: 1.4;
}
.franch_see_intro .logistics_system_item p {
  font-size: 18px;
  margin-top: 48px;
}
.franch_see_intro .logistics_system_item img {
  width: 110px;
  height: 110px;
}

.food_system {
  min-height: 814px;
  align-items: center;
  overflow: hidden;
  position: relative;
  background-image: url(/images/bg_foodsystem.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  padding: 160px 0;
}

.franch_see_intro .food_system_list {
  font-size: 48px;

  font-weight: 800;
  color: var(--bs-white);
}

.franch_see_intro .food_system_items {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 96px;
}

.franch_see_intro .food_system_item {
  border: 1px solid rgba(255, 255, 255, 0.8);
  width: 320px;
  height: 320px;
  padding: 110px 60px;
  border-radius: 50%;
  text-align: center;
}

.franch_see_intro .food_system_item h3 {
  font-size: 24px;
  color: var(--bs-white);
  font-weight: bold;
}

.franch_see_intro .food_system_item p {
  font-size: 18px;
  margin-top: 12px;
  line-height: 1.4;
  font-weight: 500;
}

.franch_see_intro .food_system_items .dot_group {
  width: 68px;
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: center;
}

.franch_see_intro .food_system_items .dot_group .dot_item {
  width: 8px;
  height: 8px;
  background-color: var(--bs-white);
  border-radius: 50%;
}

.franch_see_intro .food_system_items .food_system_item2 {
  margin-left: -40px;
}

.franch_see_intro .food_system_items .food_system_item3 {
  background: var(--black);
}
.franch_see_intro .costs {
  padding: 160px 0;
  background: var(--warm-white);
}
.franch_see_intro .costs h3 {
  font-size: 48px;
  font-weight: bold;
}

.franch_see_intro .costs .data-table {
  border-top: 2px solid var(--black);
  margin-top: 60px;
  width: 100%;
  min-width: 600px;
}
.data_table_scroll {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch; /* for smoother scrolling on touch devices */
}
.franch_see_intro .costs .data-table .title {
  font-size: 20px;
  font-weight: bold;
  padding: 17px 0px 17px 35px;
  width: 24.5%;
}

.franch_see_intro .costs .table-wrap .data-table th,
.franch_see_intro .costs .table-wrap .data-table td {
  padding-left: 60px;
}
.data-table thead th {
  border-bottom: 2px solid var(--black);
}
.data-table tbody th,
.data-table tbody td {
  border-bottom: 2px solid rgba(34, 34, 34, 0.2);
}
.data-table th,
.data-table td {
  padding: 17px 0 16px;
  vertical-align: middle;
}
.data-table th {
  text-align: left;
}
.data-table tbody tr.sum {
  background-color: rgba(34, 34, 34, 0.04);
  font-weight: bold;
}
.franch_see_intro .costs .data-table .sum .title {
  padding-top: 35px;
  padding-bottom: 35px;
}
.franch_see_intro .notice_list {
  padding: 160px 0;
}
.franch_see_intro .notice_list_item .num {
  width: 68px;
  display: inline-block;
}
.franch_see_intro .notice_list_item h2 {
  font-size: 48px;
  font-weight: bold;
  height: 60px;
}
.franch_see_intro .notice_list_items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  gap: 0 50px;
}
.franch_see_intro .notice_list_item:first-child,
.franch_see_intro .notice_list_item:nth-child(2),
.franch_see_intro .notice_list_item:nth-child(3) {
  border-top: 2px solid var(--black);
}
.franch_see_intro .notice_list_item {
  padding: 56px 0;
  border-bottom: 2px solid var(--black);
}
.button-area {
  margin-top: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn.large {
  width: 380px;
  height: 80px;
  line-height: 70px;
  font-size: 18px;
  text-align: center;
  border: 1px solid var(--warm-grey);
  font-weight: bold;
  transition: 0.5s ease;
}
.btn.large:hover {
  color: var(--bs-white);
  background: var(--orangey-red);
}

/* global */
.global {
  margin-top: 150px;
}
.global h1 {
  font-size: 64px;
  line-height: 1.3;
  font-weight: bold;
}
.global h3 {
  font-size: 34px;
}

.accordion-item {
  border: none;
}
.accordion-header {
  width: 100%;
  padding: 14px 0 14px 10px;
  height: 68px;
  vertical-align: middle;
  line-height: 35px;
  font-size: 34px;
  font-weight: bold;
}

.accordion-item a {
  text-decoration: none;
}
.accordion-item button {
  font-size: 40px;
}

.accordion-text {
  font-size: 34px;
  font-weight: bold;
  display: flex;
}
.accordion-text img {
  width: 40px;
  height: 40px;
}
.accordion-body {
  font-size: 14px;
  padding-left: 12px;
}

.accordion-item h2 {
  z-index: 2;
}
.map-wrap.singapore {
  position: absolute;
  top: 190px;
  right: -130px;

  z-index: 1;
}
.map-wrap.uzbekistan {
  position: absolute;
  top: 50px;
  z-index: 1;
  right: 140px;
  height: 800px;
}
.js-accordion-content .text.en {
  opacity: 0.4;

  font-weight: 500;
  font-family: "Montserrat";
  margin-top: 8px;
}
.js-accordion-content ul li {
  z-index: 2;
}
.js-accordion-content li {
  margin-top: 34px;
  position: relative;
}

.year_timeline_items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-top: 96px;
  padding: 160px 0;
}
.year_timeline_item {
  width: 90%;
  height: 80px;
  background-color: #db1517;
  position: relative;
}
.year_title_box h2 {
  color: var(--bs-white);
  text-align: center;
  padding: 0 55px;
  font-size: 64px;
}
.year_title_box h2:before {
  width: 0;
  height: 0;
  content: "";
  top: 0;
  border-top: 40px solid transparent;
  border-bottom: 40px solid transparent;
  border-left: 20px solid #db1517;

  position: absolute;
  right: -20px;
}
.year_timeline_item2 {
  width: 90%;
  height: 80px;
  background-color: #0079c7;
  position: relative;
}

.year_title_box2 h2 {
  color: var(--bs-white);
  text-align: center;
  padding: 0 55px;
  font-size: 64px;
}
.year_title_box2 h2:before {
  width: 0;
  height: 0;
  content: "";
  top: 0;
  border-top: 40px solid transparent;
  border-bottom: 40px solid transparent;
  border-left: 20px solid #0079c7;

  position: absolute;
  right: -20px;
}
.year_timeline_item_cont {
  margin: 56px 0;
}

.year_timeline_item_cont ul {
  margin-top: 46px;
  font-size: 18px;
  font-weight: 500;
}

/* store detail */
.store_detail {
  margin-top: 150px;
}
.store_detail h1 {
  font-size: 66px;
  font-weight: bold;
}
.store-info-wrap .grid-list {
  display: flex;
  padding: 52px 0;
  gap: 80px;
  justify-content: flex-end;
}
.store-info-wrap .grid-list1 {
  display: flex;
  padding: 52px 0;

  justify-content: flex-end;
}
.store-info-wrap .grid-list .dt,
.store-info-wrap .grid-list1 .dt {
  margin-bottom: 20px;
  font-weight: bold;
}
.store-info-wrap .grid-list .dd,
.store-info-wrap .grid-list1 .dd {
  margin-left: 25px;
}
.store-info-wrap .grid-list li:nth-of-type(1) {
  width: 28%;
}
.store-info-wrap .grid-list li:nth-of-type(2) {
  width: 35%;
}
.store-info-wrap .grid-list1 li {
  width: 17%;
}
.store-info-wrap .grid-list li .img,
.store-info-wrap .grid-list1 li .img {
  width: 20px;
  margin-right: 10px;
  height: 20px;
}
.map-container {
  position: relative;
  margin: 180px 0;
  width: 100%;
  height: 600px; /* Adjust the height as needed */
}
.map-container.pc_hidden {
  display: none;
}
.map-container.mobile_hidden {
  display: block;
}
.map-frame {
  width: 100%;
  height: 100%;
  border: none; /* Remove border */
}
/* new Detail */
.new_detail {
  margin-top: 150px;
  margin-bottom: 200px;
}

.right-content .btn {
  width: 380px;
  border: 1px solid var(--black);
  height: 70px;
  display: flex;
  margin-top: 90px;
  border-radius: 0px;
  justify-content: center;
  align-items: center;
}
.right-content .btn:hover {
  background: var(--orangey-red);
  color: var(--bs-white);
  border: none;
}
.new_detail_item h1 {
  font-size: 66px;
  font-weight: bold;
}

.content-container.pc_hidden {
  opacity: 0;
  visibility: hidden;
  display: none;
}
.content-container.mobile_hidden {
  opacity: 1;
  visibility: visible;
}
.content-container {
  display: flex;
  width: 100%;
}
.content-container > * {
  width: 50%;
}
.right-content {
  padding-right: 15px;
  font-size: 24px;
  line-height: 30px;
}

.left-content {
  height: 100vh;

  position: relative;
}
.left-content h1 {
  font-size: 66px;
  line-height: 1.52;
  font-weight: bold;
}
.left-content .date {
  font-size: 18px;
  margin-top: 50px;
}
.left-content img {
  width: 300px;
  height: 300px;
}
.left-content p {
  font-size: 18px;
}

.left-content > * {
  position: absolute;
  left: 30%;
  top: 25%;
}

/* story detail */
.story_detail {
  margin-top: 150px;
}
.data-wrap.flex {
  display: flex;
  flex-wrap: wrap;
  padding: 56px 0 87px;
}

.badge.d-day.event {
  background-color: var(--orangey-yellow);
}
.badge.event {
  font-size: 24px;
  line-height: 1.5;
  font-weight: bold;
  margin-left: 16px;
  color: var(--orangey-yellow);
}
.badge.d-day {
  display: inline-block;
  width: 56px;
  height: 27px;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  color: var(--white);
  font-family: "Montserrat";
  border-radius: 4px;
}
.data-wrap .date {
  display: flex;
  align-items: center;
  position: relative;
}

.data-wrap .date:before {
  position: absolute;
  top: 50%;
  left: -10px;
  content: "";
  display: block;
  width: 1px;
  height: 16px;
  opacity: 0.2;
  margin-top: -8px;
  background-color: var(--black);
}
.story_detail .view-body {
  font-size: 18px;
  font-weight: 500;
}
.story_detail .view-body p {
  margin-top: 27px;
}

.button_item {
  display: flex;
  align-items: center;
  justify-content: center;
}
.button_item .btn {
  width: 380px;
  border: 1px solid var(--black);
  height: 70px;
  display: flex;
  margin-top: 90px;
  border-radius: 0px;
  justify-content: center;
  align-items: center;
}
.button_item .btn:hover {
  background: var(--orangey-red);
  color: var(--bs-white);
  border: none;
}

/* notice detail */
.notice_detail p {
  text-align: justify;
  margin-bottom: 11px;
  margin-top: 36px;
}
.notice_detail .notice_detail_text {
  font-size: 16px;
  margin-bottom: 11px;
  font-weight: bold;
}
.notice_detail .notice_detail_text span {
  margin-right: 10px;
}
.notice_detail .notice_detail_text1 {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 11px;
  margin-top: 10px;
}
.notice_detail p:nth-child(5) {
  font-size: 12px;
  color: #333333;
}
.notice_detail .notice_detail_text2 {
  margin-top: 20px;
  font-size: 16px;
  line-height: 1.6;
  color: #222;
  font-weight: 600;
  margin-bottom: 11px;
}
.notice_detail .button_item {
  display: flex;
  justify-content: start;
}

/* franchisee_cs */
.franchisee_cs {
  margin-top: 150px;
}
.franchisee_cs .title {
  display: flex;
  justify-content: space-between;
}
.franchisee_cs .sub_title {
  font-size: 16px;
  color: #222;
  line-height: 90px;
}
.franchisee_cs .form_container {
  display: flex;
  justify-content: space-between;
  gap: 120px;
}
.franchisee_cs .form_left {
  width: 50%;
}
.form_left_cont {
  margin-top: 32px;
}
.form_left_cont .input {
  border-bottom: 1px solid rgba(34, 34, 34, 0.2);
  width: 100%;
  font-weight: 500;
  font-size: 18px;
  height: 50px;
  border-left: none;
  border-right: none;
  border-top: none;
}
.form_left_cont label {
  font-weight: bold;
  font-size: 16px;
}
.form_left_text {
  margin-top: 12px;
}
.radio_container {
  display: flex;
  align-items: center;
}
.radio {
  width: 24px;
  height: 24px;
  position: relative;
  overflow: hidden;
  margin: 0;
  cursor: pointer;
  outline: none;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
}
.radio:before {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  border: 1px solid rgba(34, 34, 34, 0.4);
  box-sizing: border-box;
  transition: 0.2s border-color ease;
  border-radius: 50%;
}
.radio:after {
  content: "";
  width: 8px;
  height: 8px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--black);
  border-radius: 50%;
  opacity: 0;
  transition: opacity 0.2s ease;
}
.radio.active:after {
  opacity: 1;
}
.form_left_text label {
  margin-left: 12px;
  cursor: pointer;
  vertical-align: top;
  line-height: 30px;
}

.img_box {
  width: 302px;
  background: #f6f6f6;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
  border: 1px solid #999;
}
.img_box input {
  width: 16px;
  cursor: pointer;
  height: 16px;
}
.img_box .label {
  cursor: pointer;
  vertical-align: top;
  line-height: 20px;
}
.img_box img {
  width: 60px;
  padding: 10px;
  height: 68px;
  cursor: pointer;
}
.franchisee_cs .button {
  display: flex;
  justify-content: end;
  margin-top: 60px;
}

.franchisee_cs .button img {
  width: 24px;
  height: 24px;
}
.franchisee_cs .button .btn {
  width: 380px;
  border-radius: 0px;
  height: 70px;
  font-size: 18px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid var(--black);
}
.franchisee_cs .button .btn:hover {
  color: var(--white);
  border: none;
  background: var(--orangey-red);
}

/* service term */
.service_term {
  margin-top: 160px;
}
.terms-wrap p {
  line-height: 1.5;
}
.terms-wrap .title {
  margin-top: 70px;
  font-size: 36px;
  font-weight: bold;
}
.terms-wrap .sub-title {
  margin-top: 36px;
}
.terms-wrap p.indent-num {
  padding-left: 20px;
  text-indent: -20px;
}
.terms-wrap .mt1 {
  margin-top: 18px;
}
.indent-wrap {
  margin-left: 20px;
}

/* marketing */
.form_right {
  width: 50%;
}

.terms-wrap .data-table td,
.terms-wrap .data-table th {
  padding-left: 80px;
}
.terms-wrap .data-table td:first-child,
.terms-wrap .data-table th:first-child {
  padding-left: 0;
}

.data-table {
  border-top: 2px solid var(--black);
  margin-top: 60px;
  width: 100%;
  min-width: 600px;
}
.table-wrap {
  overflow-x: auto;
  width: 100%;
  -webkit-overflow-scrolling: touch;
}

.video_term .custom-select {
  max-width: 200px;
}
.video_term .custom-select select {
  width: 100%;
  color: var(--orangey-red);
  background: var(--white);
  border: none;
  outline-color: var(--orangey-red);
}
.video_term .custom-select::after {
  border: 1px solid var(--orangey-red);
  border-top: 1px solid #f6f6f6;
  border-right: 1px solid #f6f6f6;
  background-size: cover;
  pointer-events: none;
  outline: none;
  width: 10px;
  height: 10px;
  transform: translateY(-50%) rotate(-45deg);
}
.video_term .custom-select.custom-select-item::after {
  top: 40%;
}
.video_term .custom-select.active::after {
  transform: rotate(-225deg);
}

.video_term .select_container {
  width: 100%;
  display: flex;
  justify-content: end;
}

/* privacy */
.privacy {
  margin-top: 150px;
}
.fc-grey {
  color: var(--warm-grey);
}
