@charset "utf-8";

/*-------------------------------------------------------------------
    File definition: Pages contents css
    Order: Sub Banner > Sub contents ...
-------------------------------------------------------------------*/
html {
  overflow-x: hidden;
}
body {
  overflow-x: hidden;
}


